<div class="navbar navbar-expand-sm navbar-light">
  <div class="container">
    <%= link_to (root_path), class: "navbar-brand" do %>
      <%= cl_image_tag "https://res.cloudinary.com/dl1kyce1c/image/upload/v1612909664/greenIsland-logo_jfyqwu.png" %>
    <% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <span class="nav-link"> welcome <%= current_user.email %></span>
        </li>
        <li class="nav-item">
          <%= link_to "Mon compte", "#", class: "nav-link" %>
        </li>

        <li class="nav-item">
          <% if policy(Booking).index? %>
            <%= link_to "My Bookings", user_bookings_path(current_user), class: "nav-link" %>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= image_tag "https://via.placeholder.com/150", class: "avatar" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
  </div>
</div>
