
<!-- -- -- -- -- -- -- -- banner -- -- -- -- -- -- -- -->
<div class="home-banner" style="background-image: url(https://res.cloudinary.com/dl1kyce1c/image/upload/v1612914762/banner-home_nxkyix.png);">
  <div class="container home-banner-content">
    <h1>GreenIsland</h1>
    <h2><em>Invite villagers</em> to your island</h2>
    <div class="d-flex">
      <%= link_to "See all our villagers", villagers_path, class: "btn btn-warning" %>
      <%= link_to "Create villager", new_villager_path(@villager), class: "btn btn-warning"%>
    </div>
  </div>
</div>

<!-- -- -- -- -- -- -- -- section new villagers -- -- -- -- -- -- -- -->

<div class="container">

  <h3>Discover our new villagers</h3>
  <div class="cards">
    <% @villagers.each do |villager| %>
      <div class="card-category">

        <% if villager.photo.attached? %>
          <%= cl_image_tag villager.photo.key, height: 100, class: "m-2" %>
        <% end %>
        <p><%= villager.name %></p>
        <div class="d-flex">
          <%= link_to "See details", villager_path(villager), class: "btn btn-warning rounded-pill" %>

        </div>
      </div>
    <% end %>
  </div>

<!-- -- -- -- -- -- -- -- section 1 categorie villagers -- -- -- -- -- -- -- -->

  <h3>Our Mouse villagers </h3>
  <div class="cards">
    <% @specie_villagers.each do |specie_villager| %>
      <div class="card-category">
        <% if specie_villager.photo.attached? %>
          <%= cl_image_tag specie_villager.photo.key, height: 100, class: "m-2" %>
        <% end %>
        <p><%= specie_villager.name %></p>
        <%= link_to "see details", villager_path(specie_villager), class: "btn btn-warning rounded-pill" %>
      </div>
    <% end %>
  </div>
</div>
