<!-- -- -- -- -- -- -- -- banner -- -- -- -- -- -- -- -->

<div class ="banner">
  <div class="container">
    <h2><%= @villager.name %></h2>
  </div>
</div>

<!-- un container qui contient -->
<div class="card container">
  <!-- une div pour le villager -->
  <div class="card-villager d-flex justify-content-between" >

    <!-- une div pour les infos villager -->
    <div class="card-villager-infos">
      <h4> <%= @villager.name %> </h4>
      <p>specie: <%= @villager.specie %></p>
      <p>gender: <%= @villager.gender %></p>
      <p>personality: <%= @villager.personality %></p>
    </div>

    <!-- une div pour la picture villager -->
    <div class="card-villager-picture">
      <% if @villager.photo.attached? %>
          <%= cl_image_tag @villager.photo.key, height: 300, class: "m-2" %>
      <% else %>
          <%= image_tag(@villager.image_villager, height: 300, class: "m-2" ) %>
      <% end %>
    </div>
  </div>
</div>


  <div class="card-house d-flex justify-content-between" >

    <!-- une div pour la picture villager -->
    <div class="card-house-villager-picture">
      <div class="card-villager-picture">
        <% if @villager.house.count == 0 %>
          <%= link_to 'Add house', new_villager_house_path(@villager) %>
        <% else %>
           <%= cl_image_tag @house.photo.key, width: 500, class: "m-2" %>
        <% end %>
    </div>

    <!-- une div pour les infos de la house du villager -->
    <div class="card-house-villager-infos">
    </div>

  </div>

</div>

<div class="form-reservation">
  <div class="container">
    <%= simple_form_for ([@villager, @booking]) do |f| %>
      <%= f.label :start_date, "Start date" %>
      <%= f.input :start_date %>
      <%= f.label :end_date, "End date" %>
      <%= f.input :end_date %>
      <%= f.submit %>
    <% end %>
  </div>
</div>

